# tagline or application name
tagline=Web File Manager

# home directory
directory=/home/user/wfmdata

# recursively summarize directory sizes - only enable if you have
# fast disk (SSD) or a small directory tree structure
# recursive-du=true

# favicon / application icon, must be one of the embedded/compiled icon files
# favicon=home.gif

# When clicking on txt file - edit instead of download by default
# txt-default-edit=true

# Edit any file as it was txt
edit-any-file=false

# optional browser url prefix - aka "external link" - if defined, file
# names will be glued to it giving option to be opened directly with the
# external link button without going through cgi routines
browser-url=http://x.x.x.x/files/

# access lists - ace type is either access-ip or access-user
# mixable, eg access-ip=ro:* with number of access-user=rw
# level is ro|rw, one host or username per line  * denotes all hosts
# user is username:password combination
# htauth is for http basic/digest auth username or * any valid user
# htauth requires externally defined auth database and Require directive
access-ip=ro:*
access-ip=rw:127.0.0.1
access-user=ro:guest:secret
access-user=rw:admin:password
access-htauth=ro:*
access-htauth=rw:admin
