<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>tc.tenox.wfm</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/sbin/wfm</string>
    <string>-addr=:80</string>
    <string>-chroot=/datadir</string>
    <string>-setuid=myuser</string>
  </array>
  <key>UserName</key>
  <string>root</string>
  <key>GroupName</key>
  <string>wheel</string>
  <key>KeepAlive</key>
  <true/>
  <key>WatchPaths</key>
  <array>
    <string>/usr/local/sbin/wfm</string>
  </array>
  <key>StandardOutPath</key>
  <string>/var/log/wfm.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/wfm.log</string>
</dict>
</plist>