[Unit]
Description=Web File Manager
After=network.target

[Service]
User=root
ExecStart=/usr/local/sbin/wfm \
    -addr=:80 \
	-chroot=/datadir \
	-setuid=myuser
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4
RestartSec=60

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
