{{template "header_legacy.html" .}}
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5" BGCOLOR="#CCCCCC">
    <TR>
    <TD ALIGN="LEFT" VALIGN="MIDDLE">File Editor: {{.FileName}}</TD>
    <TD ALIGN="RIGHT" VALIGN="MIDDLE">
	Line Endings:
	<SELECT NAME="crlf">
	{{.Options}}
	</SELECT>
	</TD>
    </TR>
    </TABLE>
    <TEXTAREA NAME="text" SPELLCHECK="false" COLS="80" ROWS="24">{{.Content}}</TEXTAREA><P>
    <INPUT TYPE="SUBMIT" NAME="save" VALUE="Save" {{if not .RW}}DISABLED{{end}}>&nbsp;
    <INPUT TYPE="SUBMIT" NAME="cancel" VALUE="Cancel">
    <INPUT TYPE="HIDDEN" NAME="dir" VALUE="{{.Dir}}">
    <INPUT TYPE="HIDDEN" NAME="file" VALUE="{{.FileName}}">
{{template "footer_legacy.html" .}}